basePath: /api
definitions:
  dbrepo.Metadata:
    properties:
      lastPage:
        type: integer
      pageNum:
        type: integer
      pageSize:
        type: integer
      totalCount:
        type: integer
    type: object
  dbrepo.PageQueryVo:
    properties:
      extraData: {}
      list: {}
      metadata:
        $ref: '#/definitions/dbrepo.Metadata'
    type: object
  main.ApiResponse:
    properties:
      bizCode:
        description: 业务编码
        type: string
      data:
        description: 任意数据
      message:
        description: 客户消息
        type: string
      requestId:
        description: 请求Id，做简单的链路追踪
        type: string
      version:
        description: 版本信息
        type: string
    type: object
  main.AuthorNameReq:
    properties:
      authorName:
        type: string
    type: object
  main.SignInRequest:
    properties:
      email:
        type: string
      password:
        type: string
    type: object
  models.Author:
    properties:
      authorName:
        type: string
      createdAt:
        type: string
      id:
        type: integer
      updatedAt:
        type: string
    type: object
host: localhost:4567
info:
  contact:
    email: lightsaid@foxmail.com
    name: LightSaid
  description: EBook 后台管理API
  license:
    name: Apache 2.0
    url: http://www.apache.org/licenses/LICENSE-2.0.html
  title: EBook Admin API
  version: "1.0"
paths:
  /v1/author:
    post:
      consumes:
      - application/json
      description: 添加一个作者到管理系统
      parameters:
      - description: 添加作者请求体
        in: body
        name: author
        required: true
        schema:
          $ref: '#/definitions/main.AuthorNameReq'
      produces:
      - application/json
      responses:
        "200":
          description: OK
          schema:
            allOf:
            - $ref: '#/definitions/main.ApiResponse'
            - properties:
                data:
                  type: integer
              type: object
      summary: 添加作者
      tags:
      - Author
  /v1/author/{id}:
    delete:
      description: 根据id删除一个作者
      parameters:
      - description: 作者id
        in: path
        name: id
        required: true
        type: integer
      produces:
      - application/json
      responses:
        "200":
          description: OK
          schema:
            allOf:
            - $ref: '#/definitions/main.ApiResponse'
            - properties:
                data:
                  type: integer
              type: object
      summary: 删除作者
      tags:
      - Author
    get:
      consumes:
      - application/json
      description: 根据id获取一个作者
      parameters:
      - description: 作者id
        in: path
        name: id
        required: true
        type: integer
      produces:
      - application/json
      responses:
        "200":
          description: OK
          schema:
            allOf:
            - $ref: '#/definitions/main.ApiResponse'
            - properties:
                data:
                  $ref: '#/definitions/models.Author'
              type: object
      summary: 获取作者
      tags:
      - Author
    put:
      consumes:
      - application/json
      description: 添加一个作者到管理系统
      parameters:
      - description: 添加作者请求体
        in: body
        name: author
        required: true
        schema:
          $ref: '#/definitions/main.AuthorNameReq'
      - description: 作者id
        in: path
        name: id
        required: true
        type: integer
      produces:
      - application/json
      responses:
        "200":
          description: OK
          schema:
            allOf:
            - $ref: '#/definitions/main.ApiResponse'
            - properties:
                data:
                  type: integer
              type: object
      summary: 更新作者
      tags:
      - Author
  /v1/authors:
    get:
      description: 分页获取作者列表
      parameters:
      - description: 页码
        in: query
        name: pageNum
        type: integer
      - description: 每页多少条
        in: query
        name: pageSize
        type: integer
      - collectionFormat: csv
        description: 排序字段
        in: query
        items:
          type: string
        name: sortFields
        type: array
      produces:
      - application/json
      responses:
        "200":
          description: OK
          schema:
            allOf:
            - $ref: '#/definitions/main.ApiResponse'
            - properties:
                data:
                  allOf:
                  - $ref: '#/definitions/dbrepo.PageQueryVo'
                  - properties:
                      list:
                        items:
                          $ref: '#/definitions/models.Author'
                        type: array
                    type: object
              type: object
      summary: 获取作者列表
      tags:
      - Author
  /v1/signin:
    post:
      consumes:
      - application/json
      description: 管理员登录逻辑处理，role必须为1
      parameters:
      - description: 登录入参
        in: body
        name: payload
        required: true
        schema:
          $ref: '#/definitions/main.SignInRequest'
      produces:
      - application/json
      responses:
        "200":
          description: OK
          schema:
            type: integer
      summary: 管理员登录
      tags:
      - User
swagger: "2.0"
