basePath: /api
definitions:
  models.Author:
    properties:
      authorName:
        type: string
      createdAt:
        type: string
      id:
        type: integer
      updatedAt:
        type: string
    type: object
  models.Book:
    properties:
      author:
        $ref: '#/definitions/models.Author'
      authorId:
        type: integer
      categories:
        items:
          $ref: '#/definitions/models.Category'
        type: array
      coverUrl:
        type: string
      createdAt:
        $ref: '#/definitions/types.GxTime'
      description:
        type: string
      id:
        type: integer
      isbn:
        type: string
      price:
        description: 价格,单位分
        type: integer
      pubdate:
        $ref: '#/definitions/types.GxTime'
      publisher:
        $ref: '#/definitions/models.Publisher'
      publisherId:
        type: integer
      sourceUrl:
        type: string
      status:
        description: 0-下架,1-上架
        type: integer
      stock:
        type: integer
      subtitle:
        type: string
      title:
        type: string
      type:
        description: 1-电子书,2-实体,3-电子书+实体
        type: integer
      updatedAt:
        $ref: '#/definitions/types.GxTime'
      version:
        type: string
    type: object
  models.Category:
    properties:
      categoryName:
        type: string
      createdAt:
        $ref: '#/definitions/types.GxTime'
      icon:
        type: string
      id:
        type: integer
      sort:
        type: integer
      updatedAt:
        $ref: '#/definitions/types.GxTime'
    type: object
  models.Publisher:
    properties:
      createdAt:
        $ref: '#/definitions/types.GxTime'
      id:
        type: integer
      publisherName:
        type: string
      updatedAt:
        $ref: '#/definitions/types.GxTime'
    type: object
  types.GxTime:
    properties:
      time.Time:
        type: string
    type: object
info:
  contact:
    email: support@swagger.io
    name: API Support
    url: http://www.swagger.io/support
  description: EBook API
  license:
    name: Apache 2.0
    url: http://www.apache.org/licenses/LICENSE-2.0.html
  termsOfService: http://swagger.io/terms/
  title: EBook API
  version: "1.0"
paths:
  /v1/book:
    post:
      consumes:
      - application/json
      description: 用户创建图书
      parameters:
      - description: EBook payload
        in: body
        name: payload
        required: true
        schema:
          $ref: '#/definitions/models.Book'
      produces:
      - application/json
      responses:
        "200":
          description: OK
          schema:
            type: integer
        "400":
          description: Bad Request
          schema: {}
        "401":
          description: Unauthorized
          schema: {}
        "404":
          description: Not Found
          schema: {}
        "500":
          description: Internal Server Error
          schema: {}
      security:
      - ApiKeyAuth: []
      summary: 创建图书
      tags:
      - book
swagger: "2.0"
